.stage-tracker{
display:flex;
justify-content:space-between;
position:relative;
}

.stage{
text-align:center;
flex:1;
position:relative;
}

.stage-circle{
width:18px;
height:18px;
border-radius:50%;
background:#dcdcdc;
margin:auto;
margin-bottom:8px;
}

.stage-label{
font-size:12px;
color:#666;
}

.stage.completed .stage-circle{
background:#28a745;
}

.stage.active .stage-circle{
background:#ffc107;
}

.stage.completed .stage-label{
color:#28a745;
font-weight:600;
}

.stage.active .stage-label{
color:#ffc107;
font-weight:600;
}


/* Timeline */

.timeline{
    position:relative;
    margin-left:10px;
}

.timeline:before{
    content:"";
    position:absolute;
    left:9px;
    top:0;
    width:2px;
    height:100%;
    background:#dee2e6;
}

.timeline-item{
    position:relative;
    padding-left:30px;
    margin-bottom:25px;
}

.timeline-dot{
    width:16px;
    height:16px;
    background:#0d6efd;
    border-radius:50%;
    position:absolute;
    left:2px;
    top:3px;
}

.timeline-content{
    padding:12px 15px;
    border-radius:6px;
}



.status-lead{
    background:#6c757d;
    color:white;
}

.status-site_visit{
    background:#0dcaf0;
    color:white;
}

.status-design_prep{
    background:#6610f2;
    color:white;
}

.status-design_approval{
    background:#20c997;
    color:white;
}

.status-design_costing{
    background:#ffc107;
    color:black;
}

.status-costing_approval{
    background:#fd7e14;
    color:white;
}

.status-structure{
    background:#0d6efd;
    color:white;
}

.status-electrical{
    background:#6f42c1;
    color:white;
}

.status-licensing{
    background:#198754;
    color:white;
}

.status-energisation{
    background:#20c997;
    color:white;
}

.status-completed{
    background:#198754;
    color:white;
}


.gallery-preview{
height:160px;
width:100%;
object-fit:cover;
transition:0.2s;
}

.gallery-preview:hover{
transform:scale(1.03);
}

.gallery-item{
overflow:hidden;
}

.gallery-overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
color:#fff;
display:flex;
align-items:center;
justify-content:center;
font-size:20px;
font-weight:600;
border-radius:6px;
}

.gallery-preview {
    height: 150px;
    object-fit: cover;
    cursor: pointer;
}

/* FULLSCREEN VIEWER */
.media-viewer {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.95);
    z-index:9999;
    display:flex;
    justify-content:center;
    align-items:center;
}

#viewerContent img,
#viewerContent video {
    max-width: 90%;
    max-height: 90%;
}